numpy==1.26.4
pandas==2.2.3
scikit-learn==1.6.1
sentence-transformers
transformers
python-dotenv
flask_cors
faiss-cpu
fastapi
spacy
nltk
pydantic
typing
uvicorn
python-multipart
textblob
pyspellchecker
accelerate
python-docx 
llama-cpp-python